<div *ngIf="cartItems.length>0; else elseBlock">

  <div class="panel panel-default">
    <div class="panel-heading">
      <span>You added to cart {{getCount()}} book(s) with total price of {{getSum() | currency: 'BYN'}}</span>
      <button type="button" class="btn btn-primary btn-xs pull-right" (click)="onOrderClicked()">Order</button>
    </div>
    <div class="panel-body">

      <select [(ngModel)]="selectedValue">
        <option *ngFor="let o of sortOptions" [ngValue]="o">{{o.name}}</option>
      </select>
     
      <div class="row" *ngFor="let cartItem of cartItems | orderBy: selectedValue.value">
        <app-cart-item [item]="cartItem"
                       (remove)="onRemoveClicked($event)"
                       (increase)="onIncreaseClicked($event)"
                       (decrease)="onDecreaseClicked($event)">
        </app-cart-item>
      </div>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <div class="panel panel-default">
    <div class="panel-body">
      No items available
    </div>
  </div>
  </ng-template>


  

